/*
-> Colors
#89bf3e
#1e4724
#43b6ac
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1em;
}

header {
  /* background: green; */
  overflow: hidden;
}

nav {
  width: 85%;
  margin: 1em auto;
}

nav a {
  text-decoration: none;
}

.logo {
  color: #1e4724;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -1.7px;
}

.phrase {
  text-transform: capitalize;
  color: #89bf3e;
}

nav,
nav ul,
.intro,
.clean,
.content ul,
.recents,
.about ul,
.other-services ul,
.footer-content,
.persons,
.tests {
  display: flex;
  flex-direction: row;
}

nav,
.content ul,
.about ul,
.other-services ul,
.footer-content,
.persons {
  justify-content: space-between;
  align-items: center;
}

nav div,
.intro form,
.projects {
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style: none;
}

nav li {
  margin: 0 1em;
}

nav li a {
  color: #888;
}

.intro {
  background-color: #43b6ac;
  /* background-image: linear-gradient(to bottom, rgba(67, 182, 172, 0.4), rgba(67, 182, 172, 0.9)), url(../img/intro.jpg); */
  background-image: linear-gradient(to left, rgba(67, 182, 172, 0), rgba(30, 71, 36, 1)), url(../img/intro.jpg);
  /* background-image: url(../img/intro.jpg); */
  background-size: cover;
  background-position: center right;
  justify-content: center;
  padding: 7em 0;
}

.intro div {
  width: 45%;
  /* background: yellow */
}

.intro h1 {
  margin: 2em 3em 0 0;
  font-size: 2.5em;
  color: white;
}

.intro p {
  font-size: 1.5em;
  margin: .7em 0;
  color: #1e4724;
  color: rgba(255, 255, 255, 0.7);
}

.intro form {
  background: white;
  padding: 2.5em 3em;
  border-radius: 6px;
  position: a;
  width: 25%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, .2);
}

label {
  font-size: 1.2em;
  text-align: center;
  color: #888;
  margin: 1em 0;
}

input {
  height: 45px;
  border: 1px solid #ddd;
  margin: 0 0 1em 0;
  border-radius: 4px;
  padding-left: 6px;
}

button {
  height: 50px;
  border: none;
  border-radius: 4px;
  background: #1e4724;
  color: white;
  font-size: 1.05em;
  margin-bottom: 1em;
}

.intro a,
.book {
  display: inline-block;
  background: #89bf3e;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, .2);
}

.content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.content div {
  width: 40%;
  margin: 0 5em 0 0;
}

.content div#div2 {
  width: 45%;
}

.content h1 {
  font-size: 2.5em;
  text-transform: capitalize;
  margin: 2em 0 .5em 0;
  color: #1e4724;
  letter-spacing: -1.7px;
}

h1#why {
  margin: 0 0 .5em 0;
  letter-spacing: -1.7px;
}

.content h1 span {
  color: #89bf3e;
}

.content p {
  color: #888;
  line-height: 1.7;
}

.content ul {
  list-style: none;
  margin: 3em 0 0 0;
  flex-wrap: wrap;
}

.content li {
  width: 23%;
  padding: 2em 1em;
  text-align: center;
  width: 44.5%;
  border: 1px solid #ddd;
  margin: 0 0 1em 0;
  color: #888;
  border-radius: 6px;
}

.offer,
.clean,
.projects,
footer {
  padding: 3em 0;
}

.projects,
.about,
.footer-content {
  width: 85%;
  margin: 0 auto;
}

.projects h1 {
  font-size: 2.5em;
  color: #1e4724;
  letter-spacing: -1.7px;
}

.projects h1 span {
  font-size: .7em;
  color: #888;
}

.recents {
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.recents div {
  width: 32%;
  height: 270px;
  border-radius: 6px;
  background-image: url(../img/Before-After-1.jpg);
  background-size: cover;
  position: relative;
}

.recents div a {
  position: absolute;
  display: block;
  bottom: ;
  right: 3px;
  bottom: 0;
  background: #89bf3e;
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 6px 0;
}

.recents .img2 {
  background-image: url(../img/Before-After-2.jpg);
}

.recents .img3 {
  background-image: url(../img/Air-Duct-CTA-01-161024-580e59303b32c.jpg);
}

.projects,
.about,
.testimonials {
  text-align: center;
}

.about ul {
  text-align: left;
  list-style: none;
  margin: 4em 0 0 0;
  position: relative;
  flex-wrap: wrap;
}

.about li {
  background: #eee;
  height: 300px;
  width: 49%;
  position: relative;
  margin: 0 0 1.7em 0;
  display: flex;
}

.about li p {
  width: 30%;
  padding: 2em 1em;
  line-height: 2;
  color: #888;
  position: relative;
}

.about li span {
  display: block;
  position: absolute;
  bottom: 2em;
}

.about span a {
  text-decoration: none;
  color: #89bf3e;
  border-bottom: 1px solid #89bf3e;
}

.about {
  margin-top: 5em;
}

.img-side {
  width: 60%;
  background: green;
}

#img-side1 {
  background: url(../img/team.jpg);
  background-size: cover;
}

#img-side2 {
  background: url(../img/service.jpg);
  background-size: cover;
}

#img-side3 {
  background: url(../img/timer.jpg);
  background-size: cover;
}

#img-side4 {
  background: url(../img/local2.jpg);
  background-size: cover;
}

.package {
  background: url(../img/girl.jpg);
  background-size: cover;
  padding: 7em 0;
}

.package-content,
.services-content,
.test-content {
  width: 85%;
  margin: 2em auto;
}

.package-content h1 {
  font-size: 2.5em;
  width: 45%;
  margin: 2em 0 .5em 0;
  color: #1e4724;
  letter-spacing: -1.7px;
}

.package-content h1 span {
  color: #89bf3e;
}

.package-content p {
  font-size: 1.2em;
  color: #888;

}

.other-services {
  overflow: hidden;
  background-color: #1e4724;
}

.services-content {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding: 2em 0;
}

.services-content p {
  font-size: 1.2em;
  margin: 1em 0;
}

.other-services ul {
  margin: 4em 0 2em 0;
  list-style: none;
  flex-wrap: wrap;
}

.other-services li {
  border: 1px solid white;
  width: 33.17%;
  height: 60px;
  border-left: 0;
  border-bottom: 0;
}

.other-services li#top {
  border-top: none;
}

.other-services li#right {
  border-right: none;
}

.other-services li.right {
  border-right: none;
}

.footer-content {
  align-items: flex-start;
}

.footer-content p {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0 0 .8em 0;
}

.footer-content ul {
  list-style: none;
}

.footer-content li {
  line-height: 2;
}

.footer-services a,
.important-links a {
  color: #888;
  text-decoration: none;
}

.test-content {
  padding: 4em 0;
}

.test-content h1,
.about h1 {
  margin: 0 0 1em 0;
  color: #1e4724;
}

.abt-p {
  color: #888;
  line-height: 2;
}

.persons {
  text-align: left;
  margin: 3em 0 0 0;
}

.test-intro {
  width: 50%;
  margin: 0 auto;
  line-height: 2;
  color: #888;
}

.tests {
  border: 1px solid #eee;
  width: 48%;
}

.profile {
  width: 40%;
  background: #ddd;
  background: url(../img/man.jpg);
  background-size: cover;
}

div#prof2 {
  background: url(../img/woman.jpg);
  background-size: cover;
}

.tests p {
  color: #888;
  padding: 1em 1em .5em 1em;
  font-size: .9em;
  line-height: 1.5;
}

p.prof-name {
  text-transform: uppercase;
  color: #89bf3e;
  font-weight: 700;
}
